asttokens
Flask
gunicorn
blinker
certifi7.4
charset-normalizer
click
colorama
comm
contourpy
cycler1
debugpy
decorator
dnspython
email_validator
et-xmlfile
executing

Flask-Login
Flask-Mail0
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flatbuffers25
fonttools0
greenlet
idnapykernel4

itsdangerous
jedi1
Jinja2
jupyter_client
jupyter_core
kiwisolver
libclang1
MarkupSafe
matplotlib
matplotlib-inline
mysql
mysql-connector-python
mysqlclient
namex
nest-asyncio
numpy4
openpyxl
packagingpandas
parso
pillow0
platformdirs
prompt-toolkit3
psutil
pure-eval
Pygments2
PyMySQL
pyparsing
python-dateutil.post0
pytz1

pyzmq0
requests3
seaborn2
setuptools0
six0
SQLAlchemy0
stack-data
tornadoraitlets2
typing_extensions0
tzdata1
urllib3
wcwidth3
Werkzeug
wheel0
wrapt0
WTForms
