asttokens
Flask
gunicorn
blinker
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
dnspython
email_validator
et-xmlfile
executing

Flask-Login
Flask-Mail
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
greenlet
idna
ipykernel

itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core

